name: Reset Parking Demo Data

on:
  workflow_dispatch

jobs:
  reset:
    runs-on: ubuntu-latest

    env:
      API_URL: https://icgav798z6.execute-api.ap-southeast-1.amazonaws.com
      ADMIN_KEY: ${{ secrets.ADMIN_KEY }}

    steps:
      - name: Reset DynamoDB demo data
        run: |
          echo "Calling protected reset endpoint..."
          curl -f -X POST "$API_URL/reset" \
            -H "x-admin-key: $ADMIN_KEY"

